.result {
    background-color: #f1f1f1;
    margin-bottom: 1em;
    padding: 1em;
    border: 1x solid #adadad;
}
.price {
    font-size:2em;
}
.original-price {
    font-size:1em;
    color: #898989;
    text-decoration: line-through;
}