<div ng-if="results != null">
    <h3>My Bookings <small>({{results.length}} bookings).</small></h3>
    <div class="result" ng-repeat="row in results">

        <div>
            <h4>Booking id: {{row.booking_id}}</h4>
        </div>
        <div class="row">
            <div class="col-xs-10">
                <div ng-repeat="ticket in row.tickets">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5>{{ticket.flight.airlines}}</h5>
                            <small>{{ticket.flight.flight_number}}</small>
                        </div>
                        <div class="col-xs-3">
                            {{ticket.flight.from}}
                            <br/>
                            {{ticket.flight.departure}}
                        </div>
                        <div class="col-xs-3">
                            {{ticket.flight.to}}
                            <br/>
                            {{ticket.flight.arrival}}
                        </div>
                        <div class="col-xs-3">
                            Seat: {{ticket.seat_id}}
                            <br/>
                            <b>{{row.status}}</b>
                        </div>
                    </div>
                    <div>
                        Booked by {{row.booking_user_id}}.
                    </div>
                </div>
            </div>
            <div ng-if="row.status != 'CANCELLED'" class="col-xs-2">
                <button class="book-btn btn btn-warning btn-sm pull-right" ng-click="cancel(row.booking_id)">Cancel booking</button>
            </div>
        </div>
    </div>
</div>