<div>
    <div class="well ">
        <form class="form-horizontal">
            <fieldset>
                <legend>Search Flight</legend>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="departure" class="col-xs-2 control-label">From</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="departure" placeholder="Type Departure City">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="destination" class="col-xs-2 control-label">To</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="destination" placeholder="Type Destination City">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <label for="start" class="col-xs-2 control-label">Date</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="start" placeholder="Departure Date (mm/dd/yyyy)" title="Date in mm/dd/yyyy">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-default pull-right" ng-click="search()">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>


    </div>
    <div ng-if="results != null">
        <h3>Search Results <small>({{results.length}} flights).</small></h3>
        <div class="result" ng-repeat="row in results">
            <div class="row">
                <div class="col-xs-3">
                    <h5>{{row.airlines}}</h5>
                    <small>{{row.flight_number}}</small>
                </div>
                <div class="col-xs-3">
                    {{row.from}}
                    <br/>
                    {{row.departure}}
                </div>
                <div class="col-xs-3">
                    {{row.to}}
                    <br/>
                    {{row.arrival}}
                </div>
                <div class="col-xs-2">
                    <div class="price">{{row.price}}</div>
                    <div class="original-price">{{row.original_price}}</div>
                </div>
                <div class="col-xs-1">
                    <button class="book-btn btn btn-primary" ng-click="book(row)">Book</button>
                </div>
            </div>
        </div>
    </div>
</div>